body{
    user-select: none;
    margin: 0;
    background-color: aqua;
}
.container {padding: 7em;} 
.pagina { /*engloba todo o conteudo (parte azul fraco)*/
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    padding: 5em;/*encnhimento*/
}
.cabeçalho { /*parte principal (parte ciano fraco)*/
    width: 55em; /*largura do cabeçalho*/
    padding: 3em;/*encnhimento*/
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
}
.disciplinas{ flex-wrap: wrap; gap: 1em;}
.disciplinas div {
    cursor: pointer;
    color: white; 
    background-color: blue;
    text-align: start;
    flex: 1 1 250px; 
    padding: 3em;
}
.diciplinas div:hover{background-color: darkblue;}  /* pequenas mudanças apartir daqui */
button      {cursor: pointer; padding: 4px;border-radius: 15px; display: flex;}
button:hover{background-color: lightgray;}
hr          {width: 50%; border: 1px solid gray;}
h3          {font-size: 2em;}
div         {border-radius: 15px; display: flex;}
